{% extends "base.htm" %}
{% block header_title %}主页{% end %}

{% block body %}

<div class = "ansnwer-container">
	<div class = "ansnwer-question">题目:
			<div class = "question">请看下面的小朋友们在玩什么游戏?</div>
			<div class="question-img"><img src="/static/images/game_tpj.jpg" width="95%" height="95%" /></div>
	</div>
	<div class="ansnwer-daan">答案
			<div class="daan"><button id="button1">骑马打战</button></div>
			<div class="daan"><button id="button2">八间房</button></div>
			<div class="daan"><button id="button3">跳绳</button></div>
			<div class="daan"><button id="button4">打架</button></div>
	</div>

</div>

{% end %}
</html>
