
/* class.html Ö÷Ò³*/
.class-container
{position:absolute;
top:16%;
margin:1px;
width:100%;
height:100%;
font-family:manhuafont;
font-size:3vmin;
/*min-height:800px;
min-width:1024px;*/
max-height:1024px;
}


/* header²Ëµ¥ */

/* class html Ö÷Ò³ end */
	


